body.filewizard-dragover{
    background: #e2e2e2;
}
.drag-drop-container{
	height: 800px;
    border: 3px dashed #b3b3b3;
    padding: 20px
}
.drag-drop-container .img-container{
	width: 300px;
    float: left;
    padding-bottom: 300px;
    position: relative;
    height: 0;
    margin-bottom: 5px;
    overflow: hidden;
}
.drag-drop-container .img-container .middle{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}